@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black01: #F8C24D;
    --black02: #494949;
    --black03: #ffffff;
    --black04: #757575;
    --black05: rgba(159,159,159,0.5);
    --black06: #212121;
    --black07: #EEEEEE;
    --black08: #D8D8D8;
}

.bg-01 {
    background-color: var(--black01);
}

.bg-02 {
    background-color: var(--black02);
}

.bg-03 {
    background-color: var(--black03);
}
.bg-04 {
    background-color: var(--black04);
}
.bg-05 {
    background-color: var(--black05);
}
.bg-06 {
    background-color: var(--black06);
}
.bg-07 {
    background-color: var(--black07);
}
.bg-08 {
    background-color: var(--black08);
}

.fw-900 {
    font-weight: 900;
}

.roller-left {
    position: relative;
    overflow: hidden;
}

.roller-left .roller_box-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.roller-left:hover .roller_box-left {
    transform: translateX(0);
    transition: 1s;
}

.roller-right {
    position: relative;
    overflow: hidden;
}

.roller-right .roller_box-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.roller-right:hover .roller_box-right {
    transform: translateX(0);
    transition: 1s;
}

.roller-top {
    position: relative;
    overflow: hidden;
}

.roller-top .roller_box-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.roller-top:hover .roller_box-top {
    transform: translateX(0);
    transition: 1s;
}

.roller-bottom {
    position: relative;
    overflow: hidden;
}

.roller-bottom .roller_box-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.roller-bottom:hover .roller_box-bottom {
    transform: translateX(0);
    transition: 1s;
}

.bg-cover {
    background-position: center center;
    background-size: cover;
}