* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 16px;
    background-color: #f7f7f7;
    font-family: "Noto Sans TC", sans-serif;
    /* overflow: hidden; */
}

/* ----------------------右邊內容--------------------------------------------------- */
.right-content {
    /* background-color: #ffe8e8; */
    flex-grow: 1;
    padding: 1.5rem;
    max-width: 1500px;
    margin-inline: auto;
    padding-left: 120px;

}

/* ----------------------頂部標題--------------------------------------------------- */
.title {
    font-size: 3.5em;
    color: var(--black02);
    font-weight: 600;
    margin-left: 0.3rem;
}

.everyday {
    color: var(--black02);
    font-size: 1.5em;
    font-weight: 400;
    margin-left: 2rem;
}

.reference {
    font-size: 1em;
    color: var(--black04);
    margin-left: 1rem;
}

.person {
    color: var(--black02);
    font-size: 1.5em;
    font-weight: 400;
    margin-right: 0.5rem;
}

.box-img {
    width: 50px;
    height: 50px;
}

.saveBtn {
    background-color: var(--black01);
    border: none;
}

.saveBtn:active {
    background-color: var(--black02) !important;
    color: var(--black03) !important;
}

.saveBtn:hover {
    background-color: var(--black02);
    color: var(--black03);
}

.login {
    background-color: var(--black01);
    width: 60px;
    height: 60px;
    font-size: 1em;
}

.login:hover {
    background-color: var(--black04);
    color: var(--black03);
}

.register {
    background-color: var(--black02);
    color: var(--black03);
    width: 60px;
    height: 60px;
    font-size: 1em;
}

.register:hover {
    background-color: var(--black04);
    color: var(--black03);
}

.loginout {
    background-color: var(--black01);
    color: var(--black03);
    width: 60px;
    height: 40px;
    font-size: 1em;
}

.loginout:hover {
    background-color: var(--black02);
    color: var(--black03);
}

.cacelBtn {
    background-color: var(--black02);
    color: var(--black03);
    width: 60px;
    height: 40px;
    font-size: 1em;
}

.cacelBtn:hover {
    background-color: var(--black04);
    color: var(--black03);
}

.saveBtn {
    background-color: var(--black01);
    color: var(--black03);
    width: 60px;
    height: 40px;
    font-size: 1em;
}

.saveBtn:hover {
    background-color: var(--black04);
    color: var(--black03);
}

/* ----------------------運動區塊--------------------------------------------------- */
.sport {
    margin-top: 1.5rem;
}

.sport-item {
    min-height: 35vh;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);
}

.sport-title,
.sport-number,
.sport-unit {
    color: var(--black03);
    z-index: 1;
}

.slogan {
    width: 40%;
    white-space: normal;
    word-break: break-word;
    line-height: 1.6;
    z-index: 1;
}

/* ----------------------營養區塊-------------------------------------------- */
.diet-item {
    min-height: 30vh;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.diet-title,
.diet-number,
.diet-unit,
.suggest {
    z-index: 10;
}

.suggest {
    font-size: 0.5em;
    color: var(--black03);
    opacity: 0.7;

}

/* ----------------------992以上RWD-------------------------------------------- */
@media (min-width:992px) {
    .custom-viewport-height {
        min-height: 100vh;

    }

    .sport-img,
    .calorie-img,
    .water-img,
    .sugar-img,
    .na-img,
    .slogan-img {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .slogan-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        border-radius: 8%;
        background-image: url(../images/icons/sportman.png);
        filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -170px -20px;
    }

    .sport-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        border-radius: 30px 30px 30px 30px;
        background-image: url(../images/icons/Doodles\ white-roration.png);
        opacity: 30%;
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: 30px 0px;

    }

    .calorie-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        border-radius: 30px 30px 30px 30px;
        background-image: url(../images/icons/fire-s-black.png);
        opacity: 80%;
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: 30px 0px;
        top: 15%;
    }

    .water-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        border-radius: 30px 30px 30px 30px;
        background-image: url(../images/icons/water-white.png);
        opacity: 30%;
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: 30px 0px;
        top: 15%;
    }

    .sugar-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        border-radius: 30px 30px 30px 30px;
        background-image: url(../images/icons/sugar-black.png);
        opacity: 80%;
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: 30px 0px;
        top: 15%;
    }

    .na-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        border-radius: 30px 30px 30px 30px;
        background-image: url(../images/icons/na-white.png);
        opacity: 30%;
        background-repeat: no-repeat;
        background-size: 120%;
        background-position: 30px 0px;
        top: 15%;
    }
}

/* ----------------------992RWD-------------------------------------------- */
@media (max-width:992px) {
    .right-content {
        padding-bottom: 120px;
        /* 與 bottom-nav 相同或略大 */
        padding-left: 20px;
    }

    /* 頂部標題 */
    .title {
        font-size: 2.5em;
        margin-left: 0.5rem;
    }

    .everyday {
        font-size: 1.2em;
        margin-left: 1.5rem;

    }

    .person {
        font-size: 1em;
        margin-left: 1rem;
    }

    .reference {
        font-size: 1em;
        color: var(--black04);
        margin-left: 1rem;
    }

    .login {
        background-color: var(--black01);
        width: 50px;
        height: 50px;
        font-size: 0.75em;
    }

    .register {
        background-color: var(--black02);
        color: var(--black03);
        width: 50px;
        height: 50px;
        font-size: 0.75em;
    }

    /* 營養區塊 */
    .diet-item>div {
        padding: 1rem !important;
        /* 強制將 p-4 的 1.5rem 改為 0.5rem */
        margin-top: 0 !important;
        /* 取消 mt-2 的效果 */
    }

    .diet-item {
        margin-top: 1rem;
        min-height: auto;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }

    .diet-title {
        font-size: 1.8em;

    }

    .diet-number {
        font-size: 2.5em;

    }

    .diet-unit {
        font-size: 1em;
    }

    .sugar-bgc {
        background: var(--black02);
    }

    .na-bgc {
        background: var(--black01);
    }


    /* 運動區塊 */
    .sport {
        margin-top: 2.5rem;
    }

    .sport-item {
        min-height: auto;
    }

    .sport-bgc {
        background: #ffffff;
    }

    .sport-title {
        font-size: 1.5em;
        color: var(--black02);
    }

    .sport-number {
        font-size: 2em;
        color: var(--black02);
    }

    .sport-unit {
        font-size: 1em;
        color: var(--black02);
    }

    .box-img {
        width: 40px;
        height: 40px;
    }

    /* 背景Icon */
    .custom-viewport-height {
        min-height: 100vh;

    }

    .sport-img,
    .calorie-img,
    .water-img,
    .sugar-img,
    .na-img,
    .slogan-img {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .slogan-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        border-radius: 8%;
        background-image: url(../images/icons/sportman.png);
        filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -150px -20px;
    }

    .sport-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        border-radius: 30px 30px 30px 30px;
        background-image: url(../images/icons/Doodles\ white-roration.png);
        opacity: 30%;
        background-repeat: no-repeat;
        background-size:80%;
        background-position: 100px 0px;
    }

    .calorie-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        border-radius: 30px 30px 30px 30px;
        background-image: url(../images/icons/fire-s-black.png);
        opacity: 80%;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 120px 0px;

    }

    .water-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        border-radius: 30px 30px 30px 30px;
        background-image: url(../images/icons/water-white.png);
        opacity: 30%;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 120px 0px;
    }

    .sugar-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        border-radius: 30px 30px 30px 30px;
        background-image: url(../images/icons/sugar-white.png);
        opacity: 30%;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 120px 0px;
    }

    .na-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        border-radius: 30px 30px 30px 30px;
        background-image: url(../images/icons/na-white.png);
        opacity: 30%;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 120px 0px;
    }
}

@media (max-width:768px) {

    /* 背景Icon */
    .custom-viewport-height {
        min-height: 100vh;

    }

    .sport-img,
    .calorie-img,
    .water-img,
    .sugar-img,
    .na-img,
    .slogan-img {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .slogan-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        border-radius: 8%;
        background-image: url(../images/icons/sportman.png);
        filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -150px -20px;
    }

    .sport-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        background-image: url(../images/icons/Doodles\ white-roration.png);
        opacity: 50%;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 170px -20px;
    }

    .calorie-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        background-image: url(../images/icons/fire-s-black.png);
        opacity: 80%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 30px 0px;
        top: 15%;
    }

    .water-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        background-image: url(../images/icons/water-white.png);
        opacity: 30%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 30px 0px;
        top: 15%;
    }

    .sugar-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        background-image: url(../images/icons/sugar-white.png);
        opacity: 30%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 30px 0px;
        top: 15%;
    }

    .na-img::before {
        position: absolute;
        content: "";
        inset: 0;
        /* background-color: #fff; */
        background-image: url(../images/icons/na-white.png);
        opacity: 30%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 30px 0px;
        top: 15%;
    }
}


/* ----------------------568RWD-------------------------------------------- */
@media (max-width:568px) {


    .right-content {
        padding-bottom: 120px;
        /* 與 bottom-nav 相同或略大 */
    }

    /* 頂部標題 */
    .title {
        font-size: 2.5em;
        margin-left: 0.5rem;
        margin-top: 1rem;
    }

    .everyday {
        font-size: 1.2em;
        margin-left: 0.5rem;

    }

    .person {
        font-size: 1em;
        margin-left: 1em;
    }

    .reference {
        font-size: 1em;
        color: var(--black04);
        font-family: "Noto Sans TC", sans-serif;
        margin-left: 1em;
    }

    /* 營養區塊 */
    .diet-item>div {
        padding: 1rem !important;
        /* 強制將 p-4 的 1.5rem 改為 0.5rem */
        margin-top: 0 !important;
        /* 取消 mt-2 的效果 */
    }

    .diet-item {
        min-height: 80px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    }

    .diet-title {
        font-size: 1.5em;
    }

    .diet-number {
        font-size: 2em;
    }

    .diet-unit {
        font-size: 1em;
    }

    .box-img {
        width: 30px;
        height: 30px;
    }

    /* 運動區塊 */
    .sport {
        margin-top: 2rem;
    }

    .sport-item>div {
        padding: 1.5rem !important;
        /* 強制將 p-4 的 1.5rem 改為 0.5rem */
        margin-top: 0 !important;
        /* 取消 mt-2 的效果 */
    }

    .sport-item {
        min-height: 20vh;
    }

    .sport-kal {
        background: #ffffff;
    }

    .sport-title {
        font-size: 1.5em;
        color: var(--black02);
    }

    .sport-number {
        font-size: 2em;
        color: var(--black02);
    }

    .sport-unit {
        font-size: 1em;
        color: var(--black02);
    }



}