* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 16px;
    background-color: #f7f7f7;
    font-family: "Noto Sans TC", sans-serif;
    /* overflow: hidden; */
}


/* ----------------------側邊bar---------------------- */
.sidebar {
    /* background-color: #000; */
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    z-index: 100;
    
}

.nav-item {
    /* background-color: #473333; */
    /* min-height: 40%; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nav-date {
    /* background-color: #3b4733; */
    min-height: 40%;
    padding-bottom: 2rem;
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.nav-home {
    background-image: url(../images/icons/home-white.png);
    width: 80px;
    height: 80px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} 

.nav-record {
    background-image: url(../images/icons/record-white.png);
    width: 80px;
    height: 80px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.nav-run {
    background-image: url(../images/icons/run-round-white.png);
    width: 80px;
    height: 80px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.nav-home:hover {
    background-image: url(../images/icons/home-gray.png);
}
.nav-record:hover {
    background-image: url(../images/icons/record-gray.png);
}
.nav-run:hover {
    background-image: url(../images/icons/run-round-gray.png);
}

.nav-home.active {
    background-image: url(../images/icons/home-black.png)
}
.nav-record.active {
    background-image: url(../images/icons/record-black.png);
}
.nav-run.active {
    background-image: url(../images/icons/run-round-black.png);
}

/* ----------------------底部bar--------------------------------------------------- */
.bottom-nav {
    background-color: #ffffff;
    position: fixed;
    /* 固定在視窗底部 */
    bottom: 0;
    left: 0;
    min-width: 100vw;
    height: 100px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
}

.bottom-nav-item {
    /* background-color: #b8ec95; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

/* ----------------------992RWD-------------------------------------------- */
@media (max-width:992px) {
    

    /* 側邊bar */
    .sidebar {
        display: none;
    }

    .bottom-nav {
        height: 70px;
    }

    .nav-home,
    .nav-record,
    .nav-run {
        width: 55px;
        height: 55px;
    }


}

/* ----------------------568RWD-------------------------------------------- */
@media (max-width:568px) {
    
    /* navbar */
    .sidebar {
        display: none;
    }

    .bottom-nav {
        height: 70px;
    }

    .nav-home,
    .nav-record,
    .nav-run {
        width: 55px;
        height: 55px;
    }



}